#result-pane {
  border: solid 1px #ddd;
}

.result-container {
  overflow: scroll;
  overflow-y: visible;
  border-top: solid 1px #ddd;
  margin: 0;
}

.actions {
  padding: 10px 20px;
}

#result-view {
  font-family: monospace;
}

#result-view p {
  margin: 0;
  white-space: nowrap;
}
